@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MovieViewModel
<h1>Movie Details</h1>
<Partial name="_PartialView" , model="Model.MovieList" />

<div>
    <form method="post" class="form-group" id="MovieSearch">
        <span class="form-inline">
            Search a movie by its id :
            <input type="number" asp-for="@Model.MovieID" class="form-control" />
        </span>
        <label>
        </label>
        <br />

    </form>
    <input type="submit" value="submit" class="btn btn-primary" data-attr="submit" />
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script>
    $('[data-attr="submit"]').on('click', function () {
        $.ajax(
            {
                url: "/Movie/Index",
                type: "POST",
                data: $('#MovieSearch').serialize(),

                success: function (response) {
                    var tr="";
                    var res = JSON.stringify(response);
                    var myMovie = JSON.parse(res)["movieList"][0];
                    console.log(res);
                    //console.log(JSON.parse(res)["movieList"][0].movieName)
                    if (myMovie === undefined) { alert("Id does not exist"); }
                    else {
                        tr = tr + "<tr>";
                        tr = tr + "<td>" + myMovie.movieID + "</td>";
                        tr = tr + "<td>" + myMovie.movieName + "</td>";
                        tr = tr + "<td>" + myMovie.releaseYear + "</td>";
                        tr = tr + "<td>" + myMovie.genre + "</td>";
                        tr = tr + "</tr>";
                        $('#trData').html(tr);
                    }
                    //tblFormate();
                },
                error: function (err) {
                    console.log(err);
                }
            });

    });

        function tblFormate() {
            // Convert normal table to Ajax table with default design
            var table = $('#MovieList').DataTable(
                {
                    "lengthMenu": [[5, 10, 50, 100, 150, -1], [5, 10, 50, 100, 150, "All"]]
                });
            //Each column seach based on columns
            table.columns().eq(0).each(function (colIdx) {
                $('input', table.column(colIdx).header()).on('keyup change', function () {
                    table
                        .column(colIdx)
                        .search(this.value)
                        .draw();
                });
            });
        }
</script>